body {
    background-color: #d9d9d9;
    color: #441281;
    font-family: Arial, sans-serif;
}

.solicitacoes-table {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    border-radius: 10px;
}

.solicitacoes-table th, .solicitacoes-table td {
    padding: 12px;
    border-bottom: 1px solid #ddd;
    text-align: left;
}

.solicitacoes-table th {
    background-color: #915ad3;
    color: #fff;
}

.solicitacoes-table tr:hover {
    background-color: #f1f1f1;
}

.no-results, .error {
    text-align: center;
    color: red;
    font-size: 18px;
}

#modalSolicitacao .modal-header {
  background: linear-gradient(90deg, #441281, #915ad3);
  color: #fff;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
#modalSolicitacao .form-select,
#modalSolicitacao .form-control {
  border-radius: 8px;
  border: 2px solid #915ad3;
}
#modalSolicitacao .btn-primary {
  background: linear-gradient(90deg, #441281, #915ad3);
  border: none;
}
